%table
  %thead
    %tr
      %td.breadcrumbs{ colspan: 3 }
        = link_to I18n.t('bandwidths.breadcrumbs.servers'), '/'
        \/
        = params[:server_id]
        \/
        = I18n.t('bandwidths.breadcrumbs.interfaces')
    %tr
      %th{ colspan: 3 }
        %h1
          = link_to '<', '/', class: 'no-underline'
          = I18n.t('bandwidths.header')
  - if @bandwidths.present?
    %tbody
      %tr
        %th= I18n.t('bandwidths.attributes.interface_name')
        %th= I18n.t('bandwidths.attributes.value')
      = render partial: 'bandwidth', collection: @bandwidths
    - if @pagy.pages > 1
      %tfoot
        %tr
          %th{ colspan: 3 }
            = pagy_nav(@pagy).html_safe # rubocop:todo Rails/OutputSafety
  - else
    %tbody
      %tr
        %td.barely-visible{ colspan: 3 }= I18n.t('bandwidths.missing')
